<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<h1>Edit user</h1>
<p>
    <a href="/users">User list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-user}" th:object="${user}" method="post">
    <input th:type="hidden" name="id" th:field="*{userId}">
    <table>
        <tr>
            <td>user name:</td>
            <td><input type="text" th:field="*{userName}"/></td>
        </tr>
        <tr>
            <td>phoneNumber:</td>
            <td><input type="text" th:field="*{phoneNumber}"/></td>
        </tr>
        <tr>
            <td>address:</td>
            <td><input type="text" th:field="*{address}"/></td>
        </tr>
            <td></td>
            <td><input type="submit" value="Update user"></td>
        </tr>
    </table>
</form>
</body>
</html>