<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create comment</title>
</head>
<body>
<h1>Create comment</h1>
<p>
    <a href="/manager/admin/comments">Comment list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/manager/admin/create-comment}" th:object="${comment}" method="post">
    <table>
        <tr>
            <td>name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>content:</td>
            <td><input type="text" th:field="*{content}"/></td>
        </tr>
        <tr>
            <td>link image:</td>
            <td><input type="text" th:field="*{avatar}"/></td>
        </tr>
        <tr>
            <td>level:</td>
            <td>
                <select th:field="*{level}">
                    <option th:each="p : ${levels}" th:value="${p.id}" th:text="${p.value}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create comment"></td>
        </tr>
    </table>
</form>
</body>
</html>